<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value=""/>

    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value=""/>

    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value=""/>
  </appSettings>
</configuration>